[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-dark;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply w-fit rounded bg-slate-900 py-[0.2rem] px-[0.3rem] text-base;
}
p > [data-rehype-pretty-code-fragment] {
  @apply inline-block;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply rounded-none border-l-4 border-brand bg-gray-300 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-gray-300 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 rounded-md rounded-b-none bg-gray-200 py-2 px-4 font-mono text-sm;
}
[data-rehype-pretty-code-title] ~ div > pre.pre {
  @apply mt-0 rounded-t-none;
}
div.code-title ~ [data-rehype-pretty-code-fragment] > div > pre.pre {
  @apply mt-0 rounded-t-none;
}
